{% if nullHourAdd %}
    <div id="nullHourAdd" class="alert alert-warning alert-dismissible fade show">
        <p>One or more of your enteries is empty, make it 0 instead</p>
    </div>

{% elif successAdd %}
    <div id="successAdd" class="alert alert-success d-flex align-items-center">
        <p>Add Successful</p>
    </div>
{% endif %}
<div class="mx-auto" style="width:85%;">
    <ul class="list-group">
{% for student in Students %}

        
        <li class="list-group-item d-flex align-items-start">
        <div class="d-table d-sm-flex">
            <div class="mb-3" ><span class="text-truncate d-block d-sm-inline" style="max-width:210px;"><b><a hx-get={% url 'AddHours' student.id%} hx-target="#rpla" style="cursor:pointer;">{{student}} </a></b></span> has 
                <span  class="badge bg-primary rounded-pill"> {{student.hours}} hours, {{student.minutes}} minutes</span>
            </div>
                
            
            
            {% if editStudent and student.id == studentID %}
            <div class="ms-0 ms-lg-4 w-auto">
                <form method="post" class="row g-3">
                    {% csrf_token %}
                    <div class="input-group col-auto">
                    <input type="number" placeholder="Hours" name="AddedHours" class="form-control form-control-lg w-25">
                    <input type="number" placeholder="Minutes" name="AddedMinutes" class="form-control form-control-lg w-25">
                    
                    <button hx-post={% url 'AddHours' student.id%} hx-target="#rpla" type="submit" value="Add" hx-confirm="Are you sure?" class="btn btn-lg btn-outline-primary">Add</button>
                    </div>
                </form> 
            </div>
                {% endif %}
           
        </div>
        </li>
   {% endfor %} 
    </ul>
</div>

    