
{% if badAddAlert %}
        <div id="badAddAlert" class="alert alert-warning alert-dismissible fade show">This Student Has already been Added</div>
            {% elif nullAddAlert%}
                <div id="nullAddAlert" class="alert alert-warning alert-dismissible fade show">That is not a valid Entry, Your Input is either empty, spelt incorrectly or Student does not exist</div>
                    {%elif endSessionAlert%}
                        <div id="endSessionAlert" class="alert alert-success d-flex align-items-center">Session Ended</div>
                            {%elif signOutSuccess%}
                                <div id="signOutSuccess" class="alert alert-success d-flex align-items-center">Sign Out Success</div>
    {% endif %}

    <div id="Timeduration-container" hx-get="{% url 'timeduration' %}" hx-trigger="every 60s" class="mx-auto w-75">
<ul class="list-group list-group">
    {% for item in sObject.all %}
        
            <li id="{{item.id}}" class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <b>{{item.fullname}}</b>

                <span id="durr" class="badge bg-primary rounded-pill">{{item.currDuration|timesince }}</span>
                </div>

                <div class="d-flex justify-content-end">
                   
                       
                <button class="btn btn-outline-danger mx-2" style="cursor: pointer;font-size: 18px;" hx-delete="{% url 'deleteStudent' item.id%}" 
                hx-target="#student-list" 
                hx-confirm="Deleting this student will not save their hours">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
            </button>
            
            <button class="btn btn-outline-success mx-2" style="cursor: pointer;font-size: 18px;" hx-post="{% url 'signOut' item.id%}" 
                hx-target="#student-list">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                    <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
            </button></div>
            </li>

    {% endfor %}
</ul>


</div>